.my-event {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    border-radius: 20px;
//background-color: #212121;
    color: #00c4a9;
    border: 1px solid #00c4a9;
    width: 100%;
    font-size: 12px;
    padding: 3px;
    padding-left: 10px;
    cursor: pointer;
    margin-bottom: 1px;
}

@media only screen and (max-width: 599px) {
    .container {
        padding: 10px;
    }
}